.comments
  = concept( "comment/cell", paginated_options)

  - unless paginated_options[:collection].last_page?
    #next
      = link_to 'More', next_comments_thing_path(thing_id: @thing, page: paginated_options[:collection].next_page), class: "button expand light", remote: true
