.header {
  margin-bottom: 9px;

  img { float: left; margin-right: 6px; }
  h1 { margin: 0; }
  a { font-size: 12pt; }
}

ul {
  list-style-type: none;
  margin-left: 0;
}


// move to rating/cell assets dir?
li.positive { background-color: #61FAA9; padding: 10px; }
li.negative { background-color: #DCDEDD; padding: 10px; }
.rating {
  .header { text-align: right; font-size: 0.8em; }
  .date { color: #727372 }

  margin-bottom: 9px;
}

.box {
  background-color: #9b9b9b;
  a {
    color: white;
    font-weight: bold;
    font-size: 16pt;
  }
  margin: 3px;
}

.comment {
  background-color: #9b9b9b;
  padding: 6px;
  .header {
    color: #bababa;
  }
  a {
    color: #bababa;
  }
  margin: 6px;
  color: white;
}

.light {
  background-color: #c4c4c4;
}

.description {
  font-size: 16pt;
}
.authors {
  padding-top: 6px;
  font-size: 11pt;
  color: #333333;
}

input.email {
  width: 75%;
  float: left;
}

input.thing_users_delete {
  background: red;
}